.parentDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchField {
    width:175px;
    height:25px;
}

.instaLogo {
    width: 175px;
    height: 50px;

}

.buttonGroup {
    margin: 10px;
}

.button {
    margin: 10px;
}