.comment-wrapper {
  display: flex;
}
.comment-section {
  margin-bottom: 1%;
}

.comment-username {
  font-weight: 600;
}

.comment-text {
  margin-left: 8px;
  text-align: left;
}

.comment-input {
  width: 100%;
  padding-left: 8px;
  padding: 5px 0 0 8px;
}