.Post {
    max-width: 700px;
    height: 100%;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1m;
}

.Post_User {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Post_Avatar {
    width: 5%;
    margin-right: 2%;
}

.Post_Body {
    display: flex;
    justify-content: flex-start;
}

.Post_Likes {
    font-weight: bold;
    margin-bottom: 10px;
}

.Post_Image {
    margin-top: -25px;
    height: 767.5px;
}


.Post_Username {
    font-weight: bold;
    font-size: 0.7em;
}

.Post_Comments {
    width: 100%;
}