.post-wrapper {
  max-width: 600px;
  min-width: 400px;
  border: 1px solid grey;
  margin-bottom: 10%;
  padding-bottom: 5%;
}

.post-user {
  display: flex;
  align-items: center;
}

.post-user-thumbnail {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.post-user-username {
  font-weight: 600;
  margin-left: 10px;
}

.post-image img {
  max-width: 100%;
}
.heart{
  padding-right: 8px;
}

.post-content{
padding: 0 16px;

}
.post-likes {
  display: flex;
  padding: 5px 0;


}
.post-timestamp{
  text-align: left;
}